{% extends 'video_rental_app/base.html' %}
{% block content %}
    <h1>Details for {{ detail_view.title }}</h1>
    <h2>Description: {{ detail_view.description }}</h2>
    <h2>Price: Rs. {{ detail_view.price }}</h2>
    <h2>Author: <a href="{% url 'profile_view' detail_view.user.username %}">{{ detail_view.user.username }}</a></h2>
    {% if detail_view.user == request.user %}
        <h3><a href="{% url 'editvideo' detail_view.id %}">Edit Video Details</a></h3>
        <form action="{% url 'deletevideo' detail_view.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete Video">
        </form>
        <br>
    {% endif %}
    {% if buy or detail_view.user == request.user%}
{#        <a href="{{ detail_view.actual_video.url }}"><p>Play {{ detail_view.title }}</p></a>#}
        <video controls="controls" width="700px" src="{{ detail_view.actual_video.url }}">
        </video>
    {% else %}
        {% if detail_view.preview_video %}
            <h4>Preview Video:</h4>
            <video controls="controls" width="700px" src="{{ detail_view.preview_video.url }}">
            </video>
        {% else %}
            <h4>Preview Video not available</h4>
        {% endif %}
    {% endif %}
    {% for i in details %}
        <p>Rating: {{ i.rating }}</p>
    {% endfor %}
    <p>Average Rating: {{ avg_rating }}</p>
    {% if request.user.is_authenticated%}
        {% if detail_view.user == request.user %}
            <p>You cannot buy or rate your own video</p>
        {% else %}

            {% if not buy %}
                <form enctype="multipart/form-data" action="{% url 'post2' detail_view.id %}" method="post">
                    {% csrf_token %}
                    {{ buyform.as_p }}
                    <input type="submit" value="Buy Now">
                </form>
            {% else %}
                {% if user_detail %}
                    <p>You rated the app</p>
            {% else %}
                <p>Rate the app between 0 to 5: </p>
                <form enctype="multipart/form-data" action="{% url 'post1' detail_view.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="submit">
                </form>
            <br>
            {% endif %}
                <h3>Already Owned</h3>
            {% endif %}
        {% endif %}
        <hr>
        <h3>Add Comments:</h3>
        <form action="{% url 'post3' detail_view.id%}" method="post">
            {% csrf_token %}
            {{ commentform.as_p }}
            <input type="submit" value="submit">
        </form>
        <hr>
        <h3>Comments:</h3>
        <hr>
        {% for i in comments %}
            <p>{{ i.comment }}</p>
            <p>User: <a href="{% url 'profile_view' i.user%}">{{ i.user }}</a></p>
            <hr>
        {% endfor %}
    {% else %}
        <p>Login to Rate, Buy and Add Comments</p>
    {% endif %}
{% endblock %}