{% extends 'video_rental_app/base.html' %}
{% block content %}
    <h1>Details for {{ detail_view.title }}</h1>
    <h2>Description: {{ detail_view.description }}</h2>
    {% if detail_view.actual_video %}
{#        <a href="{{ detail_view.actual_video.url }}"><p>Play {{ detail_view.title }}</p></a>#}
        <audio controls="controls" src="{{ detail_view.actual_video.url }}">
        </audio>
    {% endif %}
    {% for i in details %}
        <p>Rating: {{ i.rating }}</p>
    {% endfor %}
    <p>Average Rating: {{ avg_rating }}</p>
    {% if request.user.is_authenticated %}
    <p>Rate the app here: </p>
    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
    {% else %}
        <p>Login to Rate</p>
    {% endif %}
{% endblock %}